.master-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.song-container {
    width: 11em;
    font-family: Helvetica;
}

.artist-name {
    color: #717171;
}

.img-album-cover {
    width: 100%;
    /* object-fit: scale-down; */
    /* height: 10em; */
    height: 20vh;
}

.song-name {
    display: inline-block;
    white-space: nowrap;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.song-info {
    margin-left: 4px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}
