body, div, img, h3 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-master {
    display: flex;
    flex-wrap: wrap;
    width: 50em;
    height: 100vh;
}

.home-page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 32px;
    justify-content: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 150px;
    width: 300px;
    background-color: pink;
    box-shadow: 4px 2px 4px 0px rgba(197,197,197, 0.671);
    border-radius: 3px;
}
