.footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #FF5800;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: Helvetica;
    display: flex;
    justify-content: space-around;
    height: 1em;

}

.vishaal-meduri {
    color: white;
    font-weight: bold;
}

.anchors {
    display: flex;
    margin: 0 35px;
}

.anchors a {
    margin: 0 100px;
}
